.site-header-container {
  .busify-mobile-menu-buttons {
    &:focus {
      outline: 0;
    }

    .navigation-toggler-icon {
      width: 25px;
      top: 100px;
      left: 120px;
      transition-duration: 0.5s;
      
      a {
        color: #fff;
        font-size: 30px;
        &:focus {
          outline-offset: 1px;
        }
      }
      .icon {
        transition-duration: 0.5s;
        position: absolute;
        height: 3px;
        width: 25px;
        background-color: $black;

        &:before {
          transition-duration: 0.5s;
          position: absolute;
          width: 25px;
          height: 3px;
          background-color: $black;
          content: "";
          top: -10px;
        }

        &:after {
          transition-duration: 0.5s;
          position: absolute;
          width: 25px;
          height: 3px;
          background-color: $black;
          content: "";
          top: 10px;
        }
      }

      &.toggle-active {
        .icon {
          transition-duration: 0.5s;
          background: transparent;

          &:before {
            transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
          }

          &:after {
            transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
          }
        }
      }
    }
  }

  .busify-search-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    z-index: 9999999;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: 0;
    }

    .centered {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
      color: #FFF;
      border: none;
      background: transparent;
    }

    #search-box {
      position: relative;
      width: 100%;
      margin: 0;
    }

    #search-text {
      background-color: #fff;
      overflow: hidden;
      border-width: 0;
      width: 72%;
      padding: 20px;
      outline: none;
      height: 4em;
    }

    #search-button {
      margin-left: -4px;
      top: 0;
      right: 0;
      width: 100px;
      color: #fff;
      text-align: center;
      line-height: 42px;
      cursor: pointer;
      height: 4em;
      border: 1px solid;
    }
    #busify-close-btn {
      position: fixed;
      top: 1em;
      right: 1em;
    }
    #busify-close-btn:hover,
    #busify-close-btn:focus {
      color: #777;
      cursor: pointer;
    }
  }

  @include sm_max {
    .main-navigation {
      visibility: hidden;
      opacity: 0;
      width: 100%;
      flex: auto;
      margin: 0 -15px;
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s ease-out;

      &.toggle-active {
        visibility: visible;
        opacity: 1;
        max-height: 1000px;
      }

      .menu-primary-menu-container {
        position: relative;
        background: $white;
        margin-top: 1.25rem;

        .primary-menu {
          list-style: none;
          margin: 0;
          padding: 0;
          border-top: 1px solid $gray-200;

          li {
            a {
              padding: 10px 15px;
              display: inline-block;
              width: 100%;
              border-bottom: 1px solid $gray-200;
            }

            &.menu-item-has-children {
              position: relative;

              .sub-menu-toggle {
                //content: '\f0d7';
                width: 50px;
                height: 50px;
                //font-family: 'Font Awesome 5 Free';
                position: absolute;
                top: 0;
                right: 0;
                padding-left: 20px;
                padding-top: 10px;
                font-weight: 900;
                @media screen and (min-width:768px){
                  display: none;
                }
              }
            }

            & > ul.sub-menu {
              visibility: hidden;
              opacity: 0;
              padding: 0;
              overflow: hidden;
              max-height: 0;
              transition: all 0.3s ease-out;

              &.mobile-show-sub-menu {
                visibility: visible;
                opacity: 1;
                max-height: 700px;
              }
            }
          }
        }

        .busify-search-overlay {
          .centered {
            width: 80%;

            #search-text {
              width: 100%;
            }

            button#search-button {
              width: 100%;
              border: none;
              margin: 10px 0;
            }
          }
        }
      }
    }
  }

  @include md {
    .busify-mobile-menu-buttons {
      display: none;
    }

    .main-navigation {
      .primary-menu {
        list-style: none;
        margin: 0;
        padding: 0;

        .sub-menu-toggle {
          display: none;
        }

        > li > .sub-menu {
          &:before {
            content: '\f0d8';
            width: 10px;
            height: 10px;
            position: absolute;
            top: -40px;
            font-family: 'Font Awesome 5 Free';
            right: 32px;
            font-size: 40px;
            font-weight: 900;
          }
        }

        li {
          display: inline-block;
          padding: 10px;
          position: relative;

          &:hover > ul.sub-menu,
          &.focus > ul.sub-menu,
          &:focus > ul.sub-menu {
            top: 100%;
            opacity: 1;
            visibility: visible;
          }

          ul.sub-menu {
            position: absolute;
            top: 150%;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            padding: 0;
            display: flex;
            flex-direction: column;
            width: 300px;
            right: 0;

            li:first-child {
              border-top: none;
            }

            & > li {
              border-top: 1px solid;
              padding: 0;
            }

            & > li > a {
              display: block;
              text-decoration: none;
              padding: 10px 20px;
              -webkit-transition: all 0.2s ease-in-out;
              -moz-transition: all 0.2s ease-in-out;
              -ms-transition: all 0.2s ease-in-out;
              -o-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
            }

            & .sub-menu {
              right: 100%;
              top: 0;
            }
          }
        }
      }
    }
  }
}
